@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f0f0f0;
  }
}

body {
  background: var(--background);
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}


@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease forwards;
  transform: translateY(20px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}


@keyframes buttonSecondaryHoverIn {
  from {
    opacity: 1;
    transform: translate(0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, -2px);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
  }
}

@keyframes buttonSecondaryHoverOut {
  from {
    opacity: 1;
    transform: translate(0, -2px);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

.button-secondary-hover {
  animation: buttonSecondaryHoverOut 150ms ease-out forwards;
}

.button-secondary-hover:hover {
  animation: buttonSecondaryHoverIn 150ms ease-out forwards;
}
